<h1>Data Science Tools and Ecosystem</h1>

<h2>Author</h2>

Tim Ziebart

In this notebook we will summarize the Data Science Tools and Ecosystem as presented in the course Tools For Data Science.

**Objectives:**

- Popular Languages used by Data Scientists.
- Popular Libraries used by Data Scientists.
- Open Source Tools for Data Scientists.
- Evaluation of Arithmetic expressions in Jupyter Notebooks.

Some of the popular languages that Data Scientists use are:
 1. Python
 2. R
 3. SQL
 4. Julia
 5. Scala

Some of the popular libraries used by Data Scientists (emphasis on python libraries):
 1. Pandas (Data manipulation)
 2. Numpy (Numerical operations)
 3. Matplotlib (Data visualization)
 4. Scikit-learn (Machine Learning)
 5. PyTorch (Deep learning - dynamic computation graph)
 6. TensorFlow (Deep learning - neural networks)

<h1>Open Source Tools For Data Scientists</h1>
<div style="text-align: left"> 

<h3>Common Tools - single column</h3>

| Tool |
|:---:|
|MySQL|
|GitHub|
|Apache AirFlow|

<h3>This is a more comprehensive list of Open Source Tools</h3>
    
|Classification | Tools |
|:---------------|:----|
| Data Management |MySQL, PostgreSQL, MongoDB, Apache CouchDB, Apache Cassandra, Hadoop File System, Ceph, and elastic search |
| Data Integration and transformation |Apache AirFlow, KubeFlow, Apache Kafka, Apache Nifi, Apache SparkSQL, and NodeRED. |
| Data visualization |Pixie Dust, Hue, Kibana, and Apache Superset. |
| Model development |IBM watson studio, IBM autoAI, IBM watson openscale, IBM watson machine learning.|
| Model deployment |Apache PredictionIO, Seldon, Kubernetes, Redhat OpenShift, Mleap, TensorFlow service, TensorFlow lite, TensorFlow dot JS.|
| Model monitoring |ModelDB, Prometheus, IBM AI Fairness 360, IBM Adversarial Robustness 360 Toolbox, and IBM AI Explainability 360.|
| Code asset management |Git, GitHub, GitLab, and BitBucket|
| Data asset management |Apache Atlas, ODPi Egeria, and Kylo.|

</div>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

Adding numbers
5 + 3

Assigning variables
x = 10
y = 5

Arithmetic with variables
z = (x + y) * 2

In [5]:
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60

200/60

3.3333333333333335